<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/7cd5bd2715.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/styles.css" />
    <title> CollegeStore|  COEP's own store</title>
  </head>
  <body>
    <section id="head">
      <nav class="navbar navbar-expand-md">
        <!-- Brand -->
        <p class="navbar-brand">CollegeStore</p>

        <!-- Toggler/collapsibe Button -->
        <button
          class="navbar-toggler custom-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto custom-link">
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/verify">Register</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row main">
        <div class="col-md-6 main-text">
          <h1>Having trouble finding used books & other college stuff?</h1>
          <p>Don't worry, We have it here</p>
          <h2 class="t">For  COEP, By  COEP</h2>
          <a href="/verify"
            ><button class="btn-primary getstarted">Get Started</button></a
          >
        </div>
        <div class="col-md-6 main-img">
          <img
            alt="Couldn't load image"
            src="/images/booksvg.svg"
            height="300rem"
          />
        </div>
      </div>
    </section>
    <hr width="70%" color="#acafb3" style="margin-top: 2%;">
    <section id="aboutus">
      <h2 style="padding: 4%; text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif">About us</h2>
      <!--<h3 style=" text-align: center; font-family:monospace; color: #0062e6;">Developers</h3>
      <div class="row">
        <div class="col-md-6" style="text-align: center;">
          <img src="/images/akash.jpg" alt="Couldn't load image" class="devimg">
          <h4 class="devname">Akash Kamble</h4>
          <a href="https://www.linkedin.com/in/akash-kamble-271b95175"><i class="fab fa-linkedin" style="font-size: 180%;"></i></a>
        </div>
        <div class="col-md-6" style="text-align: center;">
          <img src="/images/sumit.jpg" alt="Couldn't load image" class="devimg">
          <h4 class="devname">Sumit Mahajan</h4>
          <a href="https://www.linkedin.com/in/sumit-mahajan-8571a6196"><i class="fab fa-linkedin" style="font-size: 180%;"></i></a>
        </div>
      </div>-->
      <p style="padding-top: 2%;">This website is for  COEP students especially freshers 
        who find it difficult to get used books & other study material. Seniors can post ads for products 
        which they want to have used in previous semester. This portal connects freshers with their seniors
        who are interested in selling their used study material. 
      </p>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
