.navbar {
    height: 90px;
    padding: 0% 5%;
  }
  .navbar-brand {
    font-family: Monsterrat;
    background-color: #0062e6;
    border-radius: 20px;
    font-size: 230%;
    padding: 5px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  }
  .cart {
    color: #0062e6;
  }
  .nav-item {
    font-size: 110%;
  }
  .custom-toggler.navbar-toggler {
    border-color: #0062e6;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 98, 238, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .container {
    margin-top: 110px;
  }
  .text-center img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  .col-md-3 img {
    width: 80%;
  }
  
  @media (max-width: 991px) {
    .fixed-top {
      top: -0px;
      position: static;
    }
    .collapse {
      background-color: white;
      z-index: 1;
    }
    .personal-info h3{
        margin: 5%;
    }
    .alert{
        margin-top: 2%;
    }
  }
  @media (max-width: 768px) {
    .navbar {
      height: 12%;
      padding: 0% 3%;
    }
    .navbar-brand {
      font-size: 170%;
      margin-right: 0%;
    }
    .nav-item{
      font-size: 100%;
    }
    .container h1{
      font-size: 200%;
    }
    .container .row h3{
      font-size: 140%;
    }
  }