.navbar {
  height: 90px;
  padding: 0% 5%;
}
.navbar-brand {
  font-family: Monsterrat;
  background-color: #0062e6;
  border-radius: 20px;
  font-size: 230%;
  padding: 5px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.cart {
  color: #0062e6;
}
.nav-item {
  font-size: 110%;
}
.custom-toggler.navbar-toggler {
  border-color: #0062e6;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 98, 238, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.rad {
  font-size: 150%;
  text-align: right;
}
.rad input,
label {
  padding: 0% 1%;
}
#picture {
  margin: 120px 25% 2%;
}
.pict {
  text-align: center;
}
.pict {
  font-size: 200%;
  border-radius: 5px;
}
.atc{
  margin: 4% 0% 0%;
  border-radius: 5px;
}
.pict img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin: 0%;
  padding: 0%;
}
.product-info {
  margin-bottom: 3%;
  background-color: rgb(245, 239, 239);
  border: none;
  border-radius: 10px;
  padding: 2%;
}
.content {
  padding-left: 5%;
}
.details{
  font-weight: 350;
}
.info {
  color: black;
  text-decoration: none ;
}
.info:hover
{
  color: black;
 text-decoration:none;
 cursor:pointer;
}

@media (max-width: 991px) {
  .collapse {
    background-color: white;
    z-index: 1;
  }
  #picture {
    margin: 100px 15% 2%;
  }
  .product-info{
    margin-bottom: 3%;
    padding: 0%;
    margin: 6%;
  }
  .pict {
    padding: 0%;
    margin: 0%;
  }
  .content {
    margin: 3% 2% 2%;
  }
  .pict img{
    border-radius: 10px 10px 0px 0px;
  }
  .tp{
    text-align: center;
  }
}
@media (max-width: 768px) {
  .navbar {
    height: 12%;
    padding: 0% 3%;
  }
  .navbar-brand {
    font-size: 170%;
    margin-right: 0%;
  }
  .nav-item{
    font-size: 100%;
  }
  .radio-inline{
    font-size: 80%;
  }
  #picture{
    margin: 105px 8% 2%;
  }
  #picture h1{
    font-size: 175%;
  }
  .product-info{
    margin: 2%;
  }
  .content h3{
    font-size: 145%;
  }
  .content h4{
    font-size: 125%;
  }
  .content h5{
    font-size: 105%;
  }
}
