html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.navbar {
  height: 15%;
  padding: 0%;
}
.navbar-brand {
  font-family: Monsterrat;
  background-color: #0062e6;
  border-radius: 20px;
  font-size: 250%;
  padding: 5px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-item{
  font-size: 130%;
}
.cart {
  color: #0062e6;
}
.custom-toggler.navbar-toggler {
  border-color: #0062e6;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 98, 238, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.main-text h1{
  font-family: serif;
}
.main-text p{
  font-family: sans-serif;
  font-size: 45%;
  color: rgb(32, 32, 32);
}
.main-text .t{
  font-family: serif;
}

#head {
  padding: 0% 10% 2%;
}
.main {
  padding-top: 60px;
}
.main-text {
  padding:2.5% 5% 10%;
  font-size: 50px;
}
.main-text button {
  margin-top: 10px;
  padding: 4px;
  font-size: 60%;
  border-radius: 10px;
}
.main-img {
  padding-top: 2.5%;
  text-align: right;
}

#aboutus{
  margin: 0% 20%;
  padding-bottom: 5%;
}
.devimg{
  border-radius: 50%;
  height: 200px;
}
.devname{
  padding: 3%;
}

@media (max-width: 768px) {
  .collapse{
    z-index: 1;
  }
  .navbar {
    height: 13%;
  }
  .navbar-brand {
    font-size: 220%;
  }
  .nav-item{
    font-size: 110%;
  }
  .main{
    text-align: center;
    margin-top: 3%;
  }
  .main .main-img {
    text-align: center;
  }
  .main-text {
    padding: 2.5% 5% 10%;
    font-size: 40px;
  }
  .main-text h1{
    font-size: 70%;
  }
  .main-text h2{
    font-size: 60%;
  }
  #aboutus{
    margin: 0% 3%;
  }
}
